<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.SKIN</param-name>
        <param-value>darkX</param-value>
    </context-param>
    <filter>
        <filter-name>richfaces</filter-name>
        <filter-class>org.ajax4jsf.Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>richfaces</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcomeJSF.jsp</welcome-file>
        </welcome-file-list>
    <security-constraint>
        <display-name>TyroConstratints</display-name>
        <web-resource-collection>
            <web-resource-name>TyroResource</web-resource-name>
            <description/>
            <url-pattern>/faces/tyro/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Tyro</role-name>
            <role-name>Admin</role-name>
            </auth-constraint>
        </security-constraint>
    <security-constraint>
        <display-name>ControlConstratints</display-name>
        <web-resource-collection>
            <web-resource-name>ControlResource</web-resource-name>
            <description/>
            <url-pattern>/faces/controlroom/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ControlRoom</role-name>
            <role-name>Admin</role-name>
            </auth-constraint>
        </security-constraint>
    <security-constraint>
        <display-name>JudgementConstraints</display-name>
        <web-resource-collection>
            <web-resource-name>JudgementResource</web-resource-name>
            <description/>
            <url-pattern>/faces/judgement/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
            <role-name>Judgement</role-name>
            </auth-constraint>
        </security-constraint>
    <security-constraint>
        <display-name>Reception</display-name>
        <web-resource-collection>
            <web-resource-name>ReceptionResources</web-resource-name>
            <description/>
            <url-pattern>/faces/Reception/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Reception</role-name>
            <role-name>Admin</role-name>
            </auth-constraint>
        </security-constraint>
    <security-constraint>
        <display-name>AdminContraints</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description>admin console</description>
            <url-pattern>/faces/admin/*</url-pattern>
            <url-pattern>/faces/Reception/*</url-pattern>
            <url-pattern>/faces/tyro/*</url-pattern>
            <url-pattern>/faces/judgement/*</url-pattern>
            <url-pattern>/faces/controlroom/*</url-pattern><http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
            </auth-constraint>
        </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>fileRealm</realm-name>
        </login-config>
    <security-role>
        <description>Tyro Club President and ZOS	 </description>
        <role-name>Tyro</role-name>
    </security-role>
    <security-role>
        <description>Reception committee	</description>
        <role-name>Reception</role-name>
    </security-role>
    <security-role>
        <description>Judgement Committee members and users 	</description>
        <role-name>Judgement</role-name>
    </security-role>
    <security-role>
        <description>Control Room Committee	</description>
        <role-name>ControlRoom</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Admin</role-name>
    </security-role>
    <ejb-ref>
        <ejb-ref-name>CollegeFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.equinox.ejb.session.facade.CollegeFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>MembersFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.equinox.ejb.session.facade.MembersFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ParticipantdetailsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.equinox.ejb.session.facade.ParticipantdetailsFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>GroupsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.equinox.ejb.session.facade.GroupsFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>ParticipantdetailsFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.equinox.ejb.session.facade.ParticipantdetailsFacadeRemote</remote>
    </ejb-ref>
    <ejb-ref>
        <ejb-ref-name>GrouppartFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>com.equinox.ejb.session.facade.GrouppartFacadeRemote</remote>
    </ejb-ref>
    </web-app>
